".source.js":

  "React ES6 Component":
    "prefix": "rc",
    "body": """
      import React, {
        PropTypes,
      } from 'react${2:-native}';

      export default class ${1:MyComponent} extends React.Component {
        render() {
          return (
            ${3:<View></View>}
          );
        }
      }

      ${1}.propTypes = {
        style: PropTypes.number,
      };
    """

  "React ES6 Component with Constructor":
    "prefix": "rcc",
    "body": """
      import React, {
        PropTypes,
      } from 'react${2:-native}';

      export default class ${1:MyComponent} extends React.Component {
        constructor(props) {
          super(props);
        }

        render() {
          return (
            ${3:<View></View>}
          );
        }
      }

      ${1}.propTypes = {
        style: PropTypes.number,
      };
    """

  'React ES6 Functional Component':
    'prefix': 'rfunc'
    'body': """
      import React, {
        PropTypes,
      } from 'react${2:-native}';

      export function ${1}(props) {
        return (
          ${3:<View></View>}
        );
      }

      ${1}.propTypes = {
        style: PropTypes.number,
      };
    """

  'React ES6 Constructor':
    'prefix': 'rconst'
    'body': """
      constructor(props) {
        super(props);
        ${1}
      }
    """

  'React ES6 bind method to this':
    'prefix': 'rbm',
    'body': """
      this.${1} = this.${1}.bind(this);
    """
