".source.js, .source.jsx":

  "React ES6 Component with Constructor":
    "prefix": "rcc"
    "body": """
      import React, {
        Component,
        PropTypes,
      } from 'react';
      ${2:
      import {
        View,
      \\} from 'react-native';
      }
      const propTypes = {};

      const defaultProps = {};

      export default class ${1:MyComponent} extends Component {

        constructor(props) {
          super(props);
          this.state = {};
        }

        render() {
          return (
            ${3:<div>
              <h1>Title</h1>
            </div>}
          );
        }

      }

      ${1:MyComponent}.propTypes = propTypes;
      ${1:MyComponent}.defaultProps = defaultProps;

    """

  "React ES6 Component":
    "prefix": "rc"
    "body": """
      import React, {
        Component,
        PropTypes,
      } from 'react';
      ${2:
      import {
        View,
      \\} from 'react-native';
      }
      const propTypes = {};

      const defaultProps = {};

      export default class ${1:MyComponent} extends Component {

        render() {
          return (
            ${3:<div>
              <h1>Title</h1>
            </div>}
          );
        }

      }

      ${1:MyComponent}.propTypes = propTypes;
      ${1:MyComponent}.defaultProps = defaultProps;

    """

  'React ES6 Functional Component':
    'prefix': 'rfunc'
    'body': """
      import React, {
        PropTypes,
      } from 'react';
      ${2:
      import {
        View,
      \\} from 'react-native';
      }
      const propTypes = {};

      const defaultProps = {};

      export default function ${1:MyComponent}(props) {
        return (
          ${3:<div>
            <h1>Title</h1>
          </div>}
        );
      }

      ${1:MyComponent}.propTypes = propTypes;
      ${1:MyComponent}.defaultProps = defaultProps;

    """

  'React ES6 Constructor':
    'prefix': 'rconst'
    'body': """
      constructor(props) {
        super(props);
        this.state = {
          ${1},
        };
      }
    """

  'React ES6 bind method to this':
    'prefix': 'rbm'
    'body': """
      this.${1} = this.${1}.bind(this);
    """

  "React ES6 Component with Constructor using static. Not airbnb compliant.":
    "prefix": "rcc7"
    "body": """
      import React, {
        Component,
        PropTypes,
      } from 'react';
      ${2:
      import {
        View,
      \\} from 'react-native';
      }
      export default class ${1:MyComponent} extends Component {

        static defaultProps = {}

        static propTypes = {}

        constructor(props) {
          super(props);
          this.state = {};
        }

        render() {
          return (
            ${3:<div>
              <h1>Title</h1>
            </div>}
          );
        }

      }

    """
